h1 { 
    color: #11201f;
}
.credit {
    font-style:italic;
    color: #444544;
}
div {
    width: 1000px;
    margin: auto;
}
body {
    margin-top: 75px;
    background-color: #c0b89b;
}
div.sub {
    padding-left: 25px;
    color: #323332;
}
